.navbar{
    background-color: black;
}
.image{
    width: 70px;
    height: 60px;
}
.cover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("black.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.head{
    
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.2;
    font-size: 30px;
    color: white;
    margin-top: 5rem;
    

}
.head .subhead{
color: transparent;
-webkit-text-stroke: 1px white;
}
.about{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px 30px ;
    place-items: center;
    background-color: black;
    margin-top: 5px;
}
.about .div1{
    overflow: hidden;
}
.about .div1 .imgabout{
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: cover;
    
}
.about.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
@media screen and (max-width:850px) {
    .about{
        grid-template-columns: 1fr;
    }
}
.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
}